@using CMS.MHH.ViewModel
@model List<FileVM>
@{
    ViewBag.Title = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Files</h2>

<body>
    @using (Html.BeginForm("CreateZipFile", "Files", new { FormMethod.Post }))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tr>
                <th>File Name</th>
            </tr>

            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => m[i].IsChosen)
                        @Html.HiddenFor(m => m[i].FileName)
                        @Html.HiddenFor(m => m[i].FilePath)
                        @Html.DisplayFor(m => m[i].FileName)
                    </td>
                </tr>
            }
        </table>
        <br />
        <label>Check All</label>
        <input type="checkbox" id="checkAll" value="Check All" />
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" type="submit" id="downloadbutton">Download</button>
            </div>
        </div>
    }
</body>
<style>
    h2 {
        color: cornflowerblue;
    }

    .table {
        width: 70%;
        overflow: hidden;
        border-collapse: collapse;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    }

    th {
        margin: 0, 10px, 0, 5px;
        color: white;
        background-color: cornflowerblue;
    }

    td {
        background-color: white;
        font-size: 14px;
    }

    label {
        margin-left: 180px;
    }

    button {
        transition: all ease;
        cursor: pointer;
        border: none;
        transition: background-color 0.2s, border-color 0.2s, top 0.2s, box-shadow 0.2s;
    }

        #downloadbutton:focus {
            outline: none;
            box-shadow: none;
        }
</style>

<script>
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
</script>

