@model  PagedList.IPagedList<CMS.MHH.Models.Idea>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="font-size:12px">
    <tr>
        <th width="10%">
            Submission
        </th>
        <th width="10%">
            Category Name
        </th>
        <th width="15%">
            Title
        </th>
        <th width="15%">
            Description
        </th>
        <th width="15%">
            Author Email
        </th>
        <th width="5%">
            Anonymous
        </th>
        <th width="30%">
            Content
        </th>
        <th width="5%">
            Date
        </th>
        <th>
            Document Name
        </th>
        <th>
            View
        </th>
        <th>
            Thumbs Up
        </th>
        <th>
            Thumbs Down
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Submission.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cate.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnonymous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.DocumentName != null)
                {
                    @Html.ActionLink(item.DocumentName, "Download", "Ideas", new { id = item.Id }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbsUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbsDown)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }));

