@model  PagedList.IPagedList<CMS.MHH.Models.Idea>
@using PagedList.Mvc
@using PagedList


<h2>My idea</h2>

<script src="~/Scripts/jquery-1.11.1.min.js"></script>

@foreach (var item in Model)
{
    <div class="container">
        <div class=”row”>
            <div class="col-md-8 col-sm-4 col-xs-8" style="border-radius: 3px 2px; border: 5px solid black; margin: 5px;">
                <div>
                    <h1 style="color:blueviolet; text-align: center ">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h1>
                    <div>
                        @Html.DisplayFor(modelItem => item.CateName)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div>
                        Date: @Html.DisplayFor(modelItem => item.Date)
                    </div>
                    <div>
                        <strong> Author: </strong>:@Html.DisplayFor(modelItem => item.Author_Email)
                    </div>

                    @Html.ActionLink("Detail", "ViewDetail", "Home", new { id = item.Id }, null)

                    <button id='myBtn_@item.Id' class="btn btn-outline-primary">View all comments</button>

                    <button id='cmt_@item.Id' class="btn btn-outline-primary" ty>Comment</button>

                    <script>
                $(document).ready(function () {
                    $('#myBtn_@item.Id').click(function () {
                    var $myPartialView = $('#comment-details-@item.Id');
                    if ($myPartialView.is(':empty')) {
                        $.ajax({
                            url: '/Home/CommentDetail/',
                            data: { id: @item.Id},
                            datatype: "html",
                            type: "GET",
                            cache: false,
                            success: function (result) {
                                $myPartialView.html(result);
                            },
                            error: function (xhr, status, error) {
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('error - ' + errorMessage);
                            }
                        });
                    }
                    else {
                        $myPartialView.empty();
                    }
                        return false;
                    });

                    $('#cmt_@item.Id').click(function () {
                    var $myPartialView = $('#write-comment-@item.Id');
                    if ($myPartialView.is(':empty')) {
                        $.ajax({
                            url: '/Home/Comments/',
                            data: { id: @item.Id},
                            datatype: "html",
                            type: "GET",
                            cache: false,
                            success: function (result) {
                                $myPartialView.html(result);
                            },
                            error: function (xhr, status, error) {
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('error - ' + errorMessage);
                            }
                        });
                    }
                    else {
                        $myPartialView.empty();
                    }
                        return false;
                    });
                });

                    </script>

                    <div id="write-comment-@item.Id">
                    </div>

                    <div id="comment-details-@item.Id">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }));

@section scripts {
    @Scripts.Render("~/bundles/ajax")
}


