<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Team Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:cornflowerblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Team Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "homebtn" })
            </div>
            <div class="navbar-collapse collapse">

                @if (User.IsInRole("Staff") || User.IsInRole("QA Manager") || User.IsInRole("QA_C"))
                {
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                        Ideas
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("List ideas", "Index", "Ideas")</li>
                        <li>@Html.ActionLink("My idea", "MyIdeas", "Ideas")</li>
                        <li>@Html.ActionLink("Create Idea", "List", "Submissions")</li>
                    </ul>
                </div>
                }

                @if ((User.IsInRole("Admin")))
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                            User
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List user", "Index", "ApplicationUsers")</li>
                            <li>@Html.ActionLink("Register new user", "Create", "ApplicationUsers")</li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                            Role
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List Roles", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Create new Roles", "Create", "Roles")</li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                            Department
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List Department", "Index", "Departments")</li>
                            <li>@Html.ActionLink("Create new department", "Create", "Departments")</li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                            Submission
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register new submission", "Create", "Submissions")</li>
                            <li>@Html.ActionLink("List Submissions", "Index", "Submissions")</li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                            Files & Data
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Files", "Index", "Files")</li>
                        </ul>
                    </div>
                }

                @if ((User.IsInRole("QA Manager")))
                {
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownbtn">
                            Categories
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register new category", "Create", "Categories")</li>
                            <li>@Html.ActionLink("List Categories", "Index", "Categories")</li>
                        </ul>
                    </div>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    body {
        background-color: whitesmoke;
    }

    #dropdownbtn {
        background-color: cornflowerblue;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none; 
        cursor: pointer;
        font-weight: bold;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }


    #homebtn{
        font-weight:bold;
        color:white;
    }

    #homebtn:hover{
       text-decoration:none;
    }
</style>

