@*@model IEnumerable<EX.Models.Idea>*@
@using PagedList.Mvc
@using PagedList
@model  PagedList.IPagedList<CMS.MHH.Models.Idea>

@{
    Layout = null;
}

<base target="_parent">
<div>

    @foreach (var item in Model)
    {
        <div style="color:black; width: 98%">
            <h4 style="color:darkblue">@Html.DisplayFor(modelItem => item.CateName): @Html.ActionLink(item.Title, "ViewDetail", "Home", new { id = item.Id }, null)</h4>
            Posted at <b>@Html.DisplayFor(modelItem => item.Date)</b> <br />
            by <b>@Html.DisplayFor(modelItem => item.Author_Email)</b>
            <div style="font-size:25px; text-align:right">🖒 @Html.DisplayFor(modelItem => item.ThumbsUp)</div>
        </div>
        break;
    }
</div>

<style>
    a:link, a:visited {
        text-decoration: none;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a {
        color: steelblue;
    }
</style>