@*@model IEnumerable<EX.Models.Idea>*@
@using PagedList.Mvc
@using PagedList
@model  PagedList.IPagedList<CMS.MHH.Models.Idea>


@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="float:left; margin: 30px 0 0 0; width: 20%; border:0.5px solid white; 
border-radius: 10px; padding:initial ; background-color:white; box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); text-align: center">
    <h4>@Html.ActionLink("Most Viewed Ideas", "MostViewed", "Home")</h4>
    <h4>@Html.ActionLink("Most Popular Ideas", "MostPopular", "Home")</h4>
</div>
    
<div style="width:80%; float:left; margin-top:30px">
    <h2 style="float: left; margin-left: 3%; color: steelblue; margin-top: 5px"><b>New Ideas</b></h2>

    <div style="text-align:right; width: 97%; margin:10px 0px">
        <button>
            @Html.ActionLink("Post Your Idea", "List", "Submissions")
        </button>
        <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    </div>

    @{int i = 0;}
    @foreach (var item in Model)
    {
        if (i == 0) //"i == 0" means this is the first and also the latest idea
        {
            <div class="container" style="margin-bottom: 20px; width:95%; border: 0.5px solid white; border-radius:10px; background-color:white; box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); clear:both">
                <div class=”row”>
                    <div>
                        <div>
                            <img src="~/Image/LastestIdea.gif" style="float:right; width:130px; margin:-20px -20px 0 0; transform: rotate(20deg)">
                            <div style="text-align: left">
                                <h3 style="color:darkblue">@Html.DisplayFor(modelItem => item.CateName): @Html.ActionLink(item.Title, "ViewDetail", "Home", new { id = item.Id}, null)</h3>
                            </div>
                            <div style="font-size:12px; margin-top:-5px; padding-bottom:10px">
                                Posted at <b>@Html.DisplayFor(modelItem => item.Date)</b> by <b>@Html.DisplayFor(modelItem => item.Author_Email)</b>
                            </div>
                            <div style="padding: 10px 5px; border: 0.5px solid gray; border-radius: 7px; background-color: #f0f0f0 ">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>

                            <div style="padding: 5px 0; text-align:right">
                                <button id='myBtn_@item.Id' class="btn btn-default" style="border: 0.5px solid gray; border-radius: 7px">View all comments</button>

                                <button id='cmt_@item.Id' class="btn btn-primary" style="border: 0.5px solid gray; border-radius: 7px">Comment</button>
                            </div>

                            <div id="write-comment-@item.Id">
                            </div>

                            <div id="comment-details-@item.Id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container" style="margin-bottom: 20px; width:95%; border: 0.5px solid white; border-radius:10px; background-color:white; box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2); clear:both">
                <div class=”row”>
                    <div>
                        <div>

                            <div style="text-align: left">
                                <h3 style="color:darkblue">@Html.DisplayFor(modelItem => item.CateName): @Html.ActionLink(item.Title, "ViewDetail", "Home", new { id = item.Id}, null)</h3>
                            </div>
                            <div style="font-size:12px; margin-top:-5px; padding-bottom:10px">
                                Posted at <b>@Html.DisplayFor(modelItem => item.Date)</b> by <b>@Html.DisplayFor(modelItem => item.Author_Email)</b>
                            </div>
                            <div style="padding: 10px 5px; border: 0.5px solid gray; border-radius: 7px; background-color: #f0f0f0 ">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>

                            <div style="padding: 5px 0; text-align:right">
                                <button id='myBtn_@item.Id' class="btn btn-default" style="border: 0.5px solid gray; border-radius: 7px">View all comments</button>

                                <button id='cmt_@item.Id' class="btn btn-primary" style="border: 0.5px solid gray; border-radius: 7px">Comment</button>
                            </div>

                            <div id="write-comment-@item.Id">
                            </div>

                            <div id="comment-details-@item.Id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <script>
            $(document).ready(function () {
                $('#myBtn_@item.Id').click(function () {
                var $myPartialView = $('#comment-details-@item.Id');
                if ($myPartialView.is(':empty')) {
                    $.ajax({
                        url: '/Home/CommentDetail/',
                        data: { id: @item.Id},
                        datatype: "html",
                        type: "GET",
                        cache: false,
                        success: function (result) {
                            $myPartialView.html(result);
                        },
                        error: function (xhr, status, error) {
                            var errorMessage = xhr.status + ': ' + xhr.statusText;
                            alert('error - ' + errorMessage);
                        }
                    });
                }
                else {
                    $myPartialView.empty();
                }
                    return false;
                });

                $('#cmt_@item.Id').click(function () {
                var $myPartialView = $('#write-comment-@item.Id');
                if ($myPartialView.is(':empty')) {
                    $.ajax({
                        url: '/Home/Comments/',
                        data: { id: @item.Id},
                        datatype: "html",
                        type: "GET",
                        cache: false,
                        success: function (result) {
                            $myPartialView.html(result);
                        },
                        error: function (xhr, status, error) {
                            var errorMessage = xhr.status + ': ' + xhr.statusText;
                            alert('error - ' + errorMessage);
                        }
                    });
                }
                else {
                    $myPartialView.empty();
                }
                    return false;
                });
            });

        </script>
        i++;
     }
</div>

<style>
    a:link, a:visited{
        text-decoration:none;
    }
    a:hover, a:active{
        text-decoration:none;
    }
</style>

<div style="text-align:center; clear:both">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    @section scripts {
        @Scripts.Render("~/bundles/ajax")
    }
</div>



