@*@model IEnumerable<EX.Models.Idea>*@
@using PagedList.Mvc
@using PagedList
@model  PagedList.IPagedList<CMS.MHH.Models.Idea>

@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
</div>


@foreach (var item in Model)
{
    <div class="container" style="padding-bottom: 30px">
        <div class=”row”>
            <div>
                <div>
                    <div style="text-align: left">
                        <h3 style="color:darkblue">@Html.DisplayFor(modelItem => item.CateName): @Html.ActionLink(item.Title, "ViewDetail", "Home", new { id = item.Id }, null)</h3>
                    </div>
                    <div style="font-size:12px; margin-top:-5px; padding-bottom:10px">
                        Posted at <b>@Html.DisplayFor(modelItem => item.Date)</b> by <b>@Html.DisplayFor(modelItem => item.Author_Email)</b>
                    </div>
                    <div style="padding: 10px 5px; margin-right: 55%; border: 0.5px solid LightGray">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>

                    <div style="padding-top: 5px">
                    <button id='myBtn_@item.Id' class="btn btn-outline-primary">View all comments</button>

                    <button id='cmt_@item.Id' class="btn btn-outline-primary" ty>Comment</button>
                    </div>
                    <script>
                $(document).ready(function () {
                    $('#myBtn_@item.Id').click(function () {
                    var $myPartialView = $('#comment-details-@item.Id');
                    if ($myPartialView.is(':empty')) {
                        $.ajax({
                            url: '/Home/CommentDetail/',
                            data: { id: @item.Id},
                            datatype: "html",
                            type: "GET",
                            cache: false,
                            success: function (result) {
                                $myPartialView.html(result);
                            },
                            error: function (xhr, status, error) {
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('error - ' + errorMessage);
                            }
                        });
                    }
                    else {
                        $myPartialView.empty();
                    }
                        return false;
                    });

                    $('#cmt_@item.Id').click(function () {
                    var $myPartialView = $('#write-comment-@item.Id');
                    if ($myPartialView.is(':empty')) {
                        $.ajax({
                            url: '/Home/Comments/',
                            data: { id: @item.Id},
                            datatype: "html",
                            type: "GET",
                            cache: false,
                            success: function (result) {
                                $myPartialView.html(result);
                            },
                            error: function (xhr, status, error) {
                                var errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('error - ' + errorMessage);
                            }
                        });
                    }
                    else {
                        $myPartialView.empty();
                    }
                        return false;
                    });
                });

                    </script>

                    <div id="write-comment-@item.Id">
                    </div>

                    <div id="comment-details-@item.Id">
                    </div>
                </div>
            </div>
        </div>
    </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            @section scripts {
                @Scripts.Render("~/bundles/ajax")
            }




